.createTileLayer {
  .remove-button {
    background-color: rgba(200, 20, 20, 150)
  }
  .Select-placeholder {
    color: black;
  }
  .Select-control {
    border-radius: 0;
  }
  margin-top: 40px;
}
