.createTileLayer {
  height: 80px;
  padding-top: 20px;
  margin-left: 0px;
  margin-right: 0px;

  .closeButtonContainer {
    padding-left: 30px;
    height: 100%;
  }
  .closeButton {
    width: 100%;
  }

  .select-list {
    width: 100%;
  }
  .select-container {
    height: 100%;
  }

  .arrow-container {
    padding-top: 28px;
    text-align: center;
  }

  .urlDisplay {
    text-align: center;
  }
}
