@import "node_modules/react-select/dist/react-select.css";
.createTileLayer {
  height: 80px;
  padding-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}
.createTileLayer .closeButtonContainer {
  padding-left: 30px;
  height: 100%;
}
.createTileLayer .closeButton {
  width: 100%;
}
.createTileLayer .select-list {
  width: 100%;
}
.createTileLayer .select-container {
  height: 100%;
}
.createTileLayer .arrow-container {
  padding-top: 28px;
  text-align: center;
}
.createTileLayer .urlDisplay {
  text-align: center;
}
.root .addLayerRow {
  margin: 0;
  margin-top: 15px;
  padding-left: 30px;
}
.root .addLayer {
  padding: 0;
  padding-right: 40px;
}
.root .addLayer .btn {
  width: 100%;
}
.map {
  height: 70%;
}
