.timeSliderContainer {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  bottom: 20px;
  .timeSliderWrapper {
    width: 700px;
    margin: 0 auto;
    background-color: rgba(255,255,255,.9);
    padding: 5px 10px;
    border-radius: 5px;
  }
}
