.timeSlider {

  color: white;

  .reactSliderContainer {
    width: 100%;
    padding-left: 40px;
  }

  .glyphicon {
    margin-top: -10px;
    left: -10px;
    font-size: 20px;
    float: left;
    width: 40px;

    &:hover {
      cursor: pointer;
    }
  }

  .speed-button{
    width: 20px;
    font-size: 10px;
    height: 10px;
    top: auto;
    bottom: -25px;
  }

  .glyphicon-minus-sign{
    left: -55px;
  }

  .glyphicon-plus-sign{
    left: -28px;
  }

  .displayDate {
    padding-top: 4px;
  }
}

.rc-tooltip-inner {
  z-index: 1000;
  position: relative;
}

.rc-tooltip-arrow {
  display: none;
}
